<div class="container-fluid mt-4">
    <form #userLogin="ngForm">
        {{userLogin.value | json}}
        <div class="form-group">
            <label for="username mb-3">Username</label>
            <input type="text" name="usernmae" class="form-control" ngModel />
        </div>
        <div class="form-group mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" ngModel />
        </div>
        <div class="form-group mb-3">
            <button class="btn btn-primary">Submit</button>
        </div>
        <div class="form-group">
            <label for="">Choose backend dev</label>
            <select class="" name="developer" ngModel id="">
                <option >Django</option>
                <option >Flask</option>
                <option >Java</option>
                <option >Php</option>
            </select>
        </div>
    </form>
</div>