<div class="container-fluid mb-5">
    {{userForm.value | json}}
    <form #userForm="ngForm" ngForm>
        <h3 class="title">Sign up</h3>
        <div class="form-group mb-1" >
            <label class="form-label">Username</label>
            <input type="text" #username="ngModel" minlength="3" maxlength="50" ngModel required 
            [class.is-invalid]="username.invalid && username.touched" name="username" class="form-control">
            <small [class.d-none]="username.valid || username.untouched">username is required </small>
        </div>
        <div class="form-group mb-1">
            <label class="form-label">Phone</label>
            <input type="tel" required minlength="8" #tel="ngModel"
            pattern="^\d{10}$" ngModel [class.is-invalid]="tel.invalid && tel.touched" name="tel" class="form-control">
            <!-- <small [class.d-none]="tel.valid || tel.untouched">phone number is required and must be 10 digits</small> -->
            <div *ngIf="tel.errors && (tel.invalid || tel.touched)">
                <small class="text-danger" *ngIf="tel.errors?.['required'] ">Phone number is required</small>
                <small class="text-danger" *ngIf="tel.errors?.['pattern'] ">Phone number must be 10 digits</small>
            </div>
        </div>
        <div class="form-group mb-1">
            <label class="form-label">password</label>
            <input type="password" #psw="ngModel" minlength="2" ngModel [class.is-invalid]="psw.invalid && psw.touched" required name="psw" class="form-control">
            <small [class.d-none]="psw.valid || psw.untouched">The password is required</small>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Confirm password</label>
            <input type="password" minlength="2" required #c_psw="ngModel" ngModel [class.is-invalid]="c_psw.invalid && c_psw.touched" name="c_psw" class="form-control">
            <small [class.d-none]="c_psw.valid || c_psw.untouched">password confirmation is required</small>
        </div>
        <div class="form-group mb-3">
            <select required #tech="ngModel" [class.is-invalid]="tech.invalid && tech.touched" ngModel class="custom-select" name="tech">
                <option  value="" >I am interested in</option>
                <option *ngFor="let tech of getTech()">{{tech}}</option>
            </select>
            <small class="text-danger" [class.d-none]="tech.valid || tech.untouched">Please choose a tech technology</small>
        </div>
        <div class="form-group">
            <input type="submit" required  class="form-control btn btn-primary">
        </div>
    </form>
</div>